<main class="container">

    <h1>Calculadora</h1>

    <!-- <input type="text" class="display" id="display" {{ teste }}> -->

    <p class="display">{{ n0 }}</p>

    <article class="btns">


        <button id="c" onclick="limpar()">C</button>
        <button id="delete" onclick="apagar()">Apagar</button>
        <button id="porcent">%</button>
        <button id="divisao">÷</button>
        
        <button (click)="num7()" [value]="n7">7</button>
        <button (click)="num8()" [value]="n8">8</button>
        <button (click)="num9()" [value]="n9">9</button>

        <button id="multip">X</button>

        <button (click)="num4()" [value]="n4">4</button>
        <button (click)="num5()" [value]="n5">5</button>
        <button (click)="num6()" [value]="n6">6</button>

        <button id="subtracao">-</button>

        <button (click)="num3()" [value]="n3">3</button>
        <button (click)="num2()" [value]="n2">2</button>
        <button (click)="num1()" [value]="n1">1</button>

        <button>+</button>

        <button id="model">+/-</button>
        <button (click)="num0()" [value]="n0">0</button>
        <button id="virgula">,</button>

        <button>=</button>
    </article>

</main>
