@import url('https://fonts.cdnfonts.com/css/bebas-neue');

.container {
    padding: 10px;
    width: 350px;
    display: flex;
    flex-direction: column;
    border-radius: 9px;
    background-color: #32323c;
}

.container h1 {
    color: #fff;
    font-family: "Bebas Neue";
    letter-spacing: 5px;
    text-align: center;
    margin-bottom: 10px;
}

.display {
    font-family: Calibri;
    font-size: 2.5rem;
    text-align: end;
    align-items: center;
    justify-content: center;
    display: grid;
    margin: 4px;
    grid-template-columns: 1fr;
    height: 80px;
    margin-bottom: 4px;
    color: #fff;
}

.btns {
    display: grid;
    // grid-template-columns: 100px 100px 100px 100px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.btns button {
    cursor: pointer;
    color: #fff;
    margin: 4px;
    font-size: 1.2rem;
    border: none;
    border-radius: 4px;
    height: 72px;
    background-color:#464653;
}

.btns button:hover {
    background-color:#1c1c27;
}

button .size {
    display: grid;
    margin: 0 auto;
    font-size:  2.2rem;
}
