<main class="container">

    <h1>Calculadora</h1>

    <!-- <input type="text" class="display" id="display" {{ teste }}> -->

    <p class="display">{{ num1 }}  {{ num2 }}</p>

    <article class="btns" id="btns">


        <button (click)="addDisplay('C')">C</button>
        <button (click)="addDisplay('CE')">CE</button>
        <button (click)="addDisplay('DEL')"><img src="../../../assets/del.png"></button>
        <button (click)="addDisplay('potencia')">x²</button>
        
        <button (click)="addDisplay('7')">7</button>
        <button (click)="addDisplay('8')">8</button>
        <button (click)="addDisplay('9')">9</button>

        <button (click)="addDisplay('/')">÷</button>

        <button (click)="addDisplay('4')">4</button>
        <button (click)="addDisplay('5')">5</button>
        <button (click)="addDisplay('6')">6</button>

        <button (click)="addDisplay('*')">x</button>

        <button (click)="addDisplay('3')">3</button>
        <button (click)="addDisplay('2')">2</button>
        <button (click)="addDisplay('1')">1</button>

        <button (click)="addDisplay('-')">-</button>

        <button (click)="addDisplay('.')">.</button>
        <button (click)="addDisplay('0')">0</button>
        <button (click)="addDisplay('=')" class="igual">=</button>
        <button (click)="addDisplay('+')">+</button>
    </article>

</main>
