.container {
    padding: 8px;
    width: 350px;
    display: flex;
    flex-direction: column;
    border-radius: 6px;
    background-color: #32323c;
}

.container h1 {
    color: #fff;
    font-family: Calibri;
    text-align: center;
    margin-bottom: 10px;
}

.display {
    display: grid;
    margin: 4px;
    grid-template-columns: 1fr;
    height: 80px;
    margin-bottom: 4px;
}

.btns {
    display: grid;
    // grid-template-columns: 100px 100px 100px 100px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.btns button {
    cursor: pointer;
    color: #fff;
    margin: 4px;
    font-size: 1rem;
    border: none;
    border-radius: 4px;
    height: 70px;
    background-color:#464653;
}

.btns button:hover {
    background-color:#1f1f1f;
}